body
{
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.attribution 
{
  font-size: 11px; text-align: center;
  /* margin-top: auto; */
  position: fixed;
  bottom: 2px;
  }
.attribution a { color: hsl(228, 45%, 44%); }

.box
{
  border-radius: 4%;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 1em;
  padding-bottom: 2em;
  /* height: 60vw; */
}

.qr
{
  display: block;
  width: 100%;
  height: 100%; 
  border-radius: 4%;
  /* margin: 1em; */
  object-fit: cover;   
  /* margin-top: 10px; */
}

p
{
  text-align: center;
  margin-bottom: 0px;
}